@use "sass:color";

$green : #79ca42;
$blue : #33ACE3;
$accent : #800000;
$render_background : #d3dbdc;
$render_divider : #85929C;

.App {
	display: flex;
	flex-direction: row;

	height: 100vh;
	width: 100vw;
}

.slim {
	padding: 0 !important;
	margin: 0  !important;
	padding: 0 !important;
}

.column.main {
	flex-grow: 1;
	border-left: 1px solid;
	border-right: 1px solid;

	padding-left: 15px;
	padding-right: 15px;
}

.hr-container {
	padding-left: 10px;
	padding-right: 10px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	flex: 1;

	// Hide the scrollbar
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.column {
	display: flex;	
    flex-direction: column;

	min-width: 20px;


	.header {
		margin: 0;
		border: 0;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;

		border-bottom: 2px solid;
		margin-bottom: 5px;
	}

	.row.filter {
		border: 2px solid;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 0;

		background-color: $accent;
	}

	.filter.element {
		color: white;
		line-height: 20px;
	}

	.filter.element {
		background-color: $accent;
	}
	
	.filter.element.center:hover {
		background-color: darken($accent, 6%);
	}

	.filter.element.center {
		border-left: 1px solid white;
		border-right: 1px solid white;
	}
	
	.filter.element.static {
		padding-right: 5px;
		border-right: 1px solid white;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	
		padding-top: 5px;
	
		.element {
			padding-left: 5px;
		}

		.left {
			flex: 0 0 auto;
		}
		
		.label {
			flex: 0 1 auto;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		.center {
			flex: 1 1 auto;
			text-align: center;
		}
		
		.right {
			flex: 1 0 auto;
			text-align: right;
			padding-right: 10px;
		}
	}
}

.top-border {
	border-top: 2px solid;
}

.green {
	background-color: $green;
}

.blue {
	background-color: $blue;
}

.button {
	border: 1px solid black;
	margin: 5px;

	height: 40px;
	padding: 10px;

	font-weight: bold;
	font-size: 16px;
}

.render-window.container {
	flex: 1 1 auto;
	position: relative;

	hr {
		border-top: 2px dotted $render_divider;
		height: 7.95%;
		margin: 0;
		position: relative;
	}

	.background {
		height: 100%;
		background-color: $render_background;
		position: relative;

		.overlay {
			flex: 1 1 auto;
			width: 100%;
			height: 100%;

			display: flex;
			// display: none;
			justify-content: center;
			align-content: center;
			position: absolute;
		
			.render-day {
				flex: 1 1 auto;
				display: flex;
				flex-direction: row;
		
			
				border: 1px solid $render_divider;
				background-color: transparent;
			}
		}
	}
}

.render-grid {
	flex: 1 1 auto;
	background-color: $render_background;

	display: grid;
	grid-template-columns: repeat(5, 1fr); // 5 days of the week

	border: 2px solid black;

	div {
		border-style: dotted solid;
		border-width: 1px;
		border-color: color.adjust($render_divider, $alpha: -0.6) $render_divider;
	}
}


img {
	max-height: 20px;
}