$green : #00ff00;
$blue : #0000ff;

.App {
	display: flex;
	flex-direction: row;

	height: 100vh;
	width: 100vw;
}

.slim {
	padding: 0 !important;
	margin: 0  !important;
	padding: 0 !important;
}

.column.main {
	flex-grow: 1;
	border-left: 1px solid;
	border-right: 1px solid;

	padding-left: 15px;
	padding-right: 15px;
}

.hr-container {
	padding-left: 10px;
	padding-right: 10px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	flex: 1;

	// Hide the scrollbar
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.column {
	display: flex;	
    flex-direction: column;

	min-width: 20px;


	.header {
		margin: 0;
		border: 0;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;

		border-bottom: 2px solid;
	}

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	
		padding-top: 5px;
	
		.element {
			padding-left: 5px;
		}

		.left {
			flex: 0 0 auto;
		}
		
		.label {
			flex: 0 1 auto;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.right {
			flex: 1 0 auto;
			text-align: right;
			padding-right: 10px;
		}
	}
}

.top-border {
	border-top: 2px solid;
}

.green {
	background-color: $green;
}

.blue {
	background-color: $blue;
}

.button {
	border: 1px solid;
	margin: 5px;

	height: 40px;
	padding: 10px;
}

.render-window {
	flex: 1 1 auto;
	border: 1px solid;

	justify-content: center;
	align-content: center;
}

img {
	max-height: 20px;
}