@use "sass:color";

$green : #79ca42;
$blue : #33ACE3;
$accent : #800000;
$render_background : #d3dbdc;
$render_divider : #85929C;
$light : white;
$google_bg: white;

.App {
	display: flex;
	flex-direction: column;

	height: 100vh;
	width: 100vw;
}

.app-body {
	flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    height: 0;
}

.slim {
	padding: 0;
	margin: 0;
	padding: 0;
}

.vstack.main {
	flex-grow: 1;
	border-left: 2px solid;
	border-right: 2px solid;

	padding-left: 5px;
	padding-right: 15px;
}

.hr-container {
	padding-left: 10px;
	padding-right: 10px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	flex: 1;
	height: 100%;

	// Hide the scrollbar
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

// https://css-tricks.com/scroll-shadows-with-javascript/
.shadow {
	position: absolute;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 10px;
	background: black;
}

.shadow--top {
	top: 0;
	background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.35), transparent);
	opacity: 0;
}
  
.shadow--bottom {
	bottom: 0;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), transparent);
}

.scrollable-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.vstack {
	display: flex;	
    flex-direction: column;

	min-width: 20px;


	.header {
		margin: 0;
		border: 0;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;

		border-bottom: 2px solid;
		margin-bottom: 5px;
	}

	.unscheduled {
		font-weight: bold;
		font-size: 0.9em;
		color: red;
		flex: 0 1 auto;
		text-align: center;
	}

	.hstack.filter {
		border: 2px solid;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		padding: 0;

		background-color: $accent;
	}

	.filter.element {
		color: $light;
		line-height: 20px;
	}

	.filter.element {
		background-color: $accent;
	}
	
	.filter.element.center:hover {
		background-color: darken($accent, 6%);
		cursor: pointer;
	}

	.filter.element.center {
		border-left: 1px solid $light;
		border-right: 1px solid $light;
		transition: all .1s ease-in-out;
	}
	
	.filter.element.static {
		padding-right: 5px;
		border-right: 1px solid $light;
	}

}

.hstack {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	padding-top: 5px;

	.element {
		padding-left: 5px;
	}

	.left {
		flex: 0 0 auto;
	}
	
	label {
		flex: 0 1 auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding-right: 5px;

		text-decoration: inherit;
		user-select: none;
	}

	.center {
		flex: 1 1 auto;
		text-align: center;
	}
	
}

.right {
	flex: 1 0 auto;
	text-align: right;
	padding-right: 5px;
}

.top-border {
	border-top: 2px solid;
}

.green {
	background-color: $green;
}

.green:hover {
	background-color: darken($green, 8%);
	box-shadow: inset 0 0 5px 0;
	cursor: pointer;
}

.blue {
	background-color: $blue;
}

.blue:hover {
	background-color: darken($blue, 8%);
	box-shadow: inset 0 0 5px 0;
	cursor: pointer;
}

.purple {
	background-color: #a191ac;
}

.purple:hover:not(.prompt) {
	background-color: darken(#a191ac, 8%);
	box-shadow: inset 0 0 5px 0;
	cursor: pointer;
}

.purple.toggled {
	background-color: darken(#a191ac, 8%);
	box-shadow: inset 0 0 5px 0;
}

.purple.toggled:hover:not(.prompt) {
	background-color: darken(#a191ac, 12%);
	box-shadow: inset 0 0 7px 0;
}

.red {
	background-color: #FF0000;
}

.red:hover:not(.prompt) {
	background-color: darken(#FF0000, 8%);
	box-shadow: inset 0 0 5px 0;
	cursor: pointer;
}

.button.onred {
	background-color: $light;
	height: 30px;
	margin: 2px;
	outline-offset: -3px;
	outline: 1px solid red;
	padding: 5px;

	transition: all .1s ease-in-out;
}

.button.onred:hover:not([disabled]) {
	background-color: $render_background;
	outline: 3px solid $light;
}

.button {
	border: 0px solid black;
	margin: 5px;
	position: relative;

	height: 40px;
	padding: 10px;

	font-weight: bold;
	font-size: 16px;

	border-radius: 5px;

	transition: all .1s ease-in-out;
}

.short {
	height: 1.4em;
	font-size: 1em;
	padding: 0;
}

.button[disabled] {
	background-color: #d3dbdc;
	color: #85929C;
	cursor: not-allowed;
}

.button[disabled]:hover {
	background-color: #d3dbdc;
	color: #85929C;
	box-shadow: 0 0 0 0;
	cursor: not-allowed;
}

$day_divider_size : 1.5px;
.render-container {
	flex: 1 1 auto;
	display: flex;
	position: relative;

	margin-top: 1.5em;

	.day-label .exit {
		background-color: red;
	}

	.day-label .exit:hover {
		background-color: red;
		color: $render_background;
		opacity: 0.4;
	}
	
	.day-label .hide {
		background-color: blue;
	}

	.day-label .hide:hover {
		background-color: blue;
		color: $render_background;
		opacity: 0.4;
	}

	.day-label .btn {
		border-radius: 5px;
		border: 1px solid $render_background;
		color: $render_background;
		padding: 2px 0;
		width: 25%;

		transition: all 0.1s ease-in;
	}

	.day-label.detailed {
		color: $render_divider;
		border-radius: 5px;
		border: 1px solid $render_divider;
		z-index: 3;
	}

	.day-label {
		text-align: center;
		color: $render_divider;
		padding: 5px 0px;
		position: relative;
		transition: all .2s ease-in-out;

		.element {
			font-weight: bold;
			// transition: all .2s ease-in-out;
		}

		.center.detailed {
			color: $render_divider;
		}
	}
	
	.render-times {
		color: $render_divider;

		display: flex;
		flex-direction: column;

		flex: 1 0 auto;

		margin-right: 3px;

		.rt-time {
			flex: 1 1 auto;
		}
	}
	
	.render-content {
		flex: 1 1 auto;
		display: flex;
		position: relative;

		border: 2px solid black;
		
		width: 100%;
		// height: 100%;

		.day {
			background-color: $render_background;
			border-right: $day_divider_size solid $render_divider;
		}

		.day:last-child {
			border-right: 0;
		}

		.day-error {
			color: red;
			font-weight: bold;

			display: flex;
			flex: 1 1 auto;
			justify-content: center;
			align-items: center;
		}

		.day-loading {
			color: $render_divider;
			font-weight: bold;

			display: flex;
			flex: 1 1 auto;
			justify-content: center;
			align-items: center;
		}

		.day.detailed {
			position: absolute;
			height: 100%;
			width: calc(100% - 10px);
			z-index: 2;
			margin-left: 5px;
			border-radius: 5px;
			box-shadow: 0 0 10px 0;
		}

		.day.undetailed {
			filter: brightness(50%);
		}

		.day.undetailed {
			filter: brightness(50%);
		}
	}	

	.vstack {
		flex: 1 1 auto;
		display: flex;

		position: relative;
		width: 100%;

		div.divider {
			font-size: 0.8em;
			color: $render_divider;
			flex: 1 1 auto;
			border-style: dotted none none none;
			border-width: 1px;
			border-color: color.adjust($render_divider, $alpha: -0.6) $render_divider;
		}
	}

	.absolute {
		position: absolute;
		height: 100%;
	}
}

.render-container:last-child {
	border: 0;
}

.block-container {
	position: absolute;
	width: 100%;

	.hstack {
		padding: 0;
		position: absolute;
	}

	.vstack {
		padding: 0;
	}
}

$block_margin_amount : 2px;
.block {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background-color: red;

	top: 0;

	height: 100%;

	margin: 0 $block_margin_amount;
	width: 3.3em;

	min-width: 0;

	border-radius: 3px;
	z-index: 1;

	transition: all 0.2s ease-in-out;

	.block-indicator {
		text-align: center;
		margin-top: 5px;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
	}

	.block-text {
		color: $light;
		overflow: hidden;
		padding-bottom: 5px;
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;
	}

	.block-text.centered {
		justify-content: center;
		z-index: 2;
	}

	.block-detail {
		display: none;

		span {
			white-space: nowrap;
		}

		div {
			overflow-wrap: anywhere;
		}
	}
	
	.hidden {
		display: none !important; // I don't care
	}
}

.block.spacer {
	height: 0;
	visibility: hidden;
	// margin-right: 0;
}

.block.selected {
	position: absolute;
	height: 100%;
	width: calc(100% - 14px);
	margin-left: 7px;
	z-index: 2;
	
	box-shadow: 0 0 10px 0;
}

.block.deselected {
	filter: brightness(50%);
}

.block.invisible {
	visibility: hidden;
	max-height: 0;
}

.column.detailed .block .hat-container.shrunk {
	flex: 0 0 0.2em;
	border-bottom: 2px solid black;
}

.column.detailed .block-text, .block-container .block.selected .block-text {
	display: none;
}

.column.detailed .block-detail, .block-container .block.selected .block-detail {
	color: $light;
	overflow: hidden;
	padding: 0 0 5px 5px;
	flex: 1 1 auto;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.fill {
	flex: 1 1 auto;
}

.fill-restricted {
	flex: 1 0 0;
}

.grow-h {
	transition: all .2s cubic-bezier(0.79, 1.38, 0.77, 1.39);
}

.grow-h:not(.undetailed, .detailed) {
	transition: all .2s ease-in-out;
}

.grow-h:hover:not(.undetailed, .detailed) {
	z-index: 3;
	border-radius: 5px;
	// border: $day_divider_size solid $render_divider;
	box-shadow: 0 0 10px 0;
	// transform: scaleX(1.01);

	cursor: pointer;
}

.navbar {
	border-bottom: 2px solid black;
	background-color: $accent;
	display: flex;
	flex: 0 0 auto;

	.element {
		color: $light;
		line-height: 20px;
		margin: 5px 10px;
		font-size: 1.1em;
		align-self: baseline;
		cursor: default;

		transition: all 0.05s ease-in-out;
	}

	.major {
		font-size: 1.5em;
		margin-right: 13px;
		margin-bottom: 8px;
	}

	.element:hover {
		color: darken($light, 20%);
		cursor: pointer;
	}
}

.google {
	button {
		background-color: $google_bg;
		display: inline-flex;
		align-items: center;
		color: rgba(0, 0, 0, 0.54);
		padding: 0px;
		border-radius: 2px;
		border: 1px solid transparent;
		font-size: 15px;
		font-weight: 500;
		font-family: Roboto, sans-serif;
		opacity: 0.95;
		height: 100%;

		transition: all 0.1s ease-in-out;
	}

	button:hover {
		background-color: darken($google_bg, 10%);
		cursor: pointer;
	}
	
	.vstack {
		margin-right: 10px;
		padding: 0px 10px;
		border-radius: 2px;
	}

	span {
		padding-right: 10px;
		font-weight: 500;
	}	
}

.dot {
	aspect-ratio: 1 / 1;
	background-color: $accent;
	border-radius: 50%;
	border: 0.15em solid $render_background;
	display: inline-block;

	margin: 0;
	width: 0.7em;

	transition: all .2s ease-in-out, border-radius .7s ease-in-out;
}

.hat {
	flex: 1 1 auto;
	padding-left: 2px;
	text-overflow: ellipsis;
	overflow: hidden;

	border-left: 1px solid $light;
	border-right: 1px solid $light;

	span {
		display: none;
	}

	transition: all 0.2s ease-in-out;
}

.hat.white-text {
	color: white;
}

.hat.black-text {
	color: black;
}

.hat-container.alert {
	max-height: 0;
}

// https://css-tricks.com/stripes-css/
.detailed .hat-container .hat.alert {
	height: auto;
	font-weight: bold;
	text-align: center;
	color: white;
	background: repeating-linear-gradient(
		-45deg,
		rgba(255, 255, 0, 0.5),
		rgba(255, 255, 0, 0.5) 20px,
		rgba(0, 0, 0, 0.5) 20px,
		rgba(0, 0, 0, 0.5) 40px
	);
}

.block.alert {
	background: repeating-linear-gradient(
		-45deg,
		rgba(255, 255, 0, 0.5),
		rgba(255, 255, 0, 0.5) 20px,
		rgba(0, 0, 0, 0.5) 20px,
		rgba(0, 0, 0, 0.5) 40px
	);
}

.detailed .block.alert {
	background: $accent;
}

.hat.selected, .hat.emphasized, .column.detailed .hat, .hat-container.selected .hat {
	flex: 1 1 0;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;

	span {
		display: inline-block;
	}
}

.column.detailed .hat:hover {
	box-shadow: inset 0 0 5px 0;
}

.hat:first-child {
	border-left: none;
}

.hat:last-child {
	border-right: none;
}

.column.detailed .hat:hover, .column.detailed .hat.emphasized {
	flex: 10000 0 auto;
}

.hat-container {
	flex: 0 1 12px;
	width: 100%;
	overflow: hidden;
	font-size: 0.9em;
	
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid white;

	display: flex;

	transition: all .2s ease-in-out;
}

.hat-container:hover {
	flex: 0 0 1.2em;
	span {
		display: inline-block;
		white-space: nowrap;
	}
}

.hat-container.alert {
	flex: 0 1 15px;
	border-bottom: 0;
}

.hat-container.selected {
	flex: 0 0 0.2em;
	border-radius: 3px 3px 0 0;
	border-bottom: 2px solid black;
}

.hat-container.emphasized, .column.detailed .hat-container {
	flex: 0 0 1.2em;
	border-radius: 3px 3px 0 0;
	border-bottom: 2px solid white;
}

.column.detailed .hat-container:hover {
	flex: 0 0 1.4em;
}

.column.detailed .hat-container.alert {
	flex: 0 0 1.2em;
	max-height: 100%;
}

.hat-container.selected, .column.detailed .hat-container.selected {
	border-bottom: 2px solid black;
}

.dot.emphasized, .dot.selected {
	transform: scale(1.3);
}

.dot.emphasized:hover, .dot.selected:hover {
	cursor: pointer;
}

.dot.deemphasized {
	transform: scale(0.5);
}

.dot.deselected {
	border-color: black;
	transform: scale(0.3);
}

div.loading {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	color: $render_divider;
	font-size: 1.4em;
}

img.back-arrow {
	max-height: 1.1em;
	position: absolute;
}

.sidebar {
	max-width: 400px;
}

.main-profile {
	position: relative;
	overflow: hidden;
}

.nowrap {
	white-space: nowrap;
}

.interact-blocks.standalone {
	display: flex;
	flex-direction: column;

	position: relative;

	.block.viewed {
		height: 6em;
		width: 180%;
		z-index: 100;

		box-shadow: 0 0 5px 0 black;
		
		.pref-pane {
			padding: 5px;
		}
	}

	.block.viewed.block-right {
		transform: translateX(-50%);
	}

	.block.viewed.block-left {
		transform: translateX(5%);
	}
}

.arrow-container {
	display: flex;
}

// https://code-boxx.com/dropdown-arrow-css/
.header.witharrow::after {
	content: "\25b6";
	transform: rotate(90deg);
	transition: all 0.1s ease-in-out;
	transition-delay: 0s;
}

.header.witharrow.collapsed::after {
	transform: rotate(180deg);
	transition: all 0.1s ease-in-out;
	transition-delay: 0.3s;
}

.header.witharrow:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.arrow {
	display: flex;
	padding: 2px;
	font-size: 1.1em;
	flex: 1 1 auto;
	align-items: center;
}

.arrow.hidden {
	color: rgba(0, 0, 0, 0);
}

.arrow::after {
	content: "\25b6";
	// transform: rotate(-180deg);
}

.new-trade-col {	
	.new-trade-col-title {
		text-align: center;
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: 5px;
	}
}

.new-trade-col-content {
	position: relative;
}

.block.standalone {
	text-align: left;
	width: calc(100% - $block_margin_amount);
	height: 2em;
}

.block.frosted.standalone {
	background-color: $render_background;
	color: $render_divider;
	text-align: center;
}

.hstack.reqoff-col {
	margin: 0 7px 0 5px;
}

.swap-section {
	margin-top: 10px;
}

.swap-section-title {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-left: 10px;
}

.swap-divider {
	border-top: 2px solid $render_background;
	margin: 10px 10px 0px 10px;
}

.interact-blocks {
	label {
		color: white;
	}

	.block {
		display: flex;
		position: relative;
		transition: all 0.2s ease-in-out;
	}

	.block.frosted {
		outline: 1px solid $render_divider;
		opacity: 0.5;
		backdrop-filter: blur(5px);
	}

	.block.frosted:not(.standalone, .interacted):hover {
		box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3), 0 2px 5px 0 rgba(0, 0, 0, 1);
		opacity: 1;
		backdrop-filter: blur(5px);
	}

	.block.frosted.interacted:hover {
		box-shadow: inset 0 0 2000px rgba(255, 255, 255, .3), 0 0 10px 0 black;
		opacity: 1;
		backdrop-filter: blur(5px);
	}

	.block.interacted {
		transition: all 0.2s ease-in-out, min-width 0s linear, min-height 0s linear;
		opacity: 1;

		position: absolute;
		right: 0;
		top: 0;

		display: flex;

		height: fit-content;
		min-height: 100%;

		width: fit-content;
		min-width: 100%;

		padding: 0;
		
		z-index: 5;
		box-shadow: 0 0 10px 0;

		transform: translateY(-5px);
	}

	.block.interacted.frosted {
		box-shadow: inset 0 0 2000px rgba(255, 255, 255, .2), 0 0 10px 0 black;
		backdrop-filter: blur(5px);
	}
	
	.block.interacted.left {
		left: 0;
	}
	
	.block.interacted.bottom {
		top: auto;
		bottom: 0;
		transform: translateY(5px);
	}

	.pref-pane-title {
		margin: 0 3px 5px 3px;
		color: $render_background;
		text-align: center;
	}

	.pref-row {
		display: flex;
		align-items: center;
	}

	button:not(.button) {
		border-radius: 2px;
		border: 1px solid $render_divider;
		transition: all 0.05s ease-in-out;
		width: 100%;
	}

	button:hover:not([disabled], .button) {
		background-color: $render_background;
	}

	.pref-pane {
		display: flex;
		flex-direction: column;
		color: $light;
		white-space: nowrap;
		overflow: hidden;

		flex: 1 1 auto;

		button {
			border-radius: 2px;
			border: 1px solid $render_divider;
			transition: all 0.05s ease-in-out;
		}

		button.cantdo {
			background-color: #FFBDBD;
		}

		button.cantdo:hover {
			background-color: #FF8C8C;
		}

		button.prefernot {
			background-color: #FBFFBD
		}

		button.prefernot:hover {
			background-color: #F1FF28
		}

		button.indiff:hover {
			background-color: $render_background;
		}

		button.prefer {
			background-color: #BFFFBD;
		}

		button.prefer:hover {
			background-color: #75FF70;
		}
	}
}

.Profile {
	flex: 1 1 auto;

	.profile-picture {
		max-width: min(250px, 20vw);
		flex: 1 1 auto;	
		border: 2px solid;
		margin: 0 20px;
		border-radius: 50%;
	}

	.profile-sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;

		span {
			font-weight: bold;
			margin: 5px 10px;
		}
	}

	.profile-status-bar {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		padding: 5px 0;
		margin: 0 0 5px 0;
		flex: 0 0 auto;

		.button {
			margin: 0 5px 0 0;
		}

		.profile-status {
			display: flex;
			align-items: center;

			font-size: 1.2em;
			font-weight: bold;
			
			border: 2px solid;
			flex: 1 1 auto;

			padding: 0 5px;

		}
	}

	.hstack {
		align-items: center;
	}

	.header {
		border: 2px solid black;
		border-bottom: 0;
		transition: all 0.1s ease-in-out;
		font-size: 1.2em;
		min-height: 1.2em;
		font-weight: bold;
		margin-bottom: 0;

	}

	// https://code-boxx.com/dropdown-arrow-css/
	.header::after {
		content: "\25b6";
		transform: rotate(90deg);
		transition: all 0.1s ease-in-out;
		transition-delay: 0s;
	}
	
	.header.collapsed::after {
		transform: rotate(180deg);
		transition: all 0.1s ease-in-out;
		transition-delay: 0.3s;
	}

	.header:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.abs-wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.profile-form {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		flex: 0 0 auto;
		height: fit-content;
		transition: all 0.4s ease-in-out;

		.form-border {
			// border: 2px solid black;
		}

		.form-body {
			overflow: hidden;
			transition: all 0.4s ease-in-out;

			background-color: $light;

			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			position: relative;

			border: 2px solid black;

			.scrollable .hstack:first-child {
				margin-top: 5px;
			}
		}

		.form-body.collapsed {
			height: 0px;
			border-top: 0;
		}

		.form-row {
			margin: 5px;

			.fill {
				padding: 0px 10px;
			}
			
			.element {
				margin-left: 15px;
			}

			.status {
				margin-right: 10px;
			}

			.fail {
				color: red;
			}

			.success {
				color: $green;
			}

			select {
				width: 100%;
				// margin: 0 10px;
			}
		}

		.submit {
			width: 100%;
			margin: 12px;
		}

		
		input {
			margin: 0 5px;
		}
	}

	.dropdown-label {
		margin: 0 5px;
	}

	.preferences-container {
		flex: 1 1 100%;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease-in-out;
	}

	.preferences-container.collapsed {
		flex: 0 1 0;
	}
	
	.profile-render {
		border: 2px solid black;
		background-color: $light;
		display: flex;
		flex-direction: column;

		height: 100%;
		max-height: 100%;
		min-height: 300px;

		overflow: hidden;

		max-width: 100%;

		margin-bottom: 5px;

		transition: all 0.4s ease-in-out;

		.render-container {
			margin: 8px 0;
		}

		.block.interacted {
			transition: all 0.2s ease-in-out, min-width 0s linear, min-height 0s linear;

			position: absolute;
			right: 0;
			top: 0;

			display: flex;

			height: fit-content;
			min-height: 100%;

			width: fit-content;
			min-width: 100%;

			padding: 0;
			
			z-index: 5;
			box-shadow: 0 0 10px 0;

			transform: translateY(-5px);
		}
		
		.block.interacted.left {
			left: 0;
		}
		
		.block.interacted.bottom {
			top: auto;
			bottom: 0;
			transform: translateY(5px);
		}

		.block {
			display: flex;
			position: relative;
			transition: all 0.2s ease-in-out;
		}

		.pref-pane {
			display: flex;
			flex-direction: column;
			color: $light;
			white-space: nowrap;
    		overflow: hidden;

			flex: 1 1 auto;

			button {
				border-radius: 2px;
				border: 1px solid $render_divider;
				transition: all 0.05s ease-in-out;
			}

			button.cantdo {
				background-color: #FFBDBD;
			}

			button.cantdo:hover {
				background-color: #FF8C8C;
			}

			button.prefernot {
				background-color: #FBFFBD
			}

			button.prefernot:hover {
				background-color: #F1FF28
			}

			button.indiff:hover {
				background-color: $render_background;
			}

			button.prefer {
				background-color: #BFFFBD;
			}

			button.prefer:hover {
				background-color: #75FF70;
			}
		}

		.pref-pane-title {
			margin: 0 3px 5px 3px;
			color: $render_background;
			text-align: center;
		}

		.pref-row {
			display: flex;
			align-items: center;

			input[type="checkbox"] {
				margin-top: 6px;
				align-self: flex-start;
			}

			label {
				text-align: left;
			}
		}

		.check-all {
			text-decoration: underline;
			margin-left: 5px;
		}

		.check-all:hover {
			color: $render_background
		}

		.pref-dot {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			margin: 2px;
		}

		.dot-hstack {
			position: absolute;
			width: 100%;

			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			margin: 4px 0;
		}
	}

	.profile-render.collapsed {
		height: 0;
		border-top: 0;
		min-height: 0;
	}
}

.class-render-container {
	flex: 1 1 auto;
	display: flex;
	position: relative;
	border: 2px solid black;
}

.schedule-info-container {
	padding-top: 15px;
	padding-right: 10px;
	border-top: 2px solid black;
	margin: 15px 10px 10px 10px;

	.schedule-info-title {
		font-weight: bold;
		margin-bottom: 10px;
	}

	.schedule-info-element {
		margin-left: 15px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid $render_divider;
	}
}

.employee-row {
	margin: 15px 5px;
	
	.divider {
		height: 0px;
		margin-top: 7.5px;
		border-radius: 5px;
		outline: 1px solid $render_divider;
	}
}

.employee-row:first-child {
	margin-top: 0px;
}

.flash-on {
	background: $render_background;
	outline: 2px solid red;
	border-radius: 3px;
}

.header-bar {
	border-bottom: 2px solid black;

	.hstack {
		padding: 0;
		// padding-bottom: 2px;

		.left {
			padding: 0 4px 2px 4px;
		}

		.center {
			background-color: $render_background;
			user-select: none;
			transition: all 0.1s ease-in-out;
			padding: 0 4px;
		}

		.center {
			border-left: 1px solid $render_divider;
		}
		
		.center:hover, .center.selected {
			box-shadow: inset 0 0 2px 0;
			cursor: pointer;
		}
	}
}

.page-text {
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;

	font-size: 2em;
	font-weight: bold;
	color: $render_divider;
}

.backdrop {
	position: absolute;
	height: 40%;
	width: 100%;
	z-index: -2;
}

.panel {
	flex: 1 0 0;
	background-color: $render_background;

	.prompt {
		position: absolute;
		right: 0;
		top: 0;
		height: fit-content;
		z-index: 2;
		padding: 5px;
	}

	.prompt.bottom {
		top: auto;
		bottom: 0;
	}

	.inner-content {
		display: flex;
		flex-direction: column;
		border: 1px solid $render_divider;
		margin: 10px;
		flex: 1 1 auto;
		background-color: $light;

		overflow: hidden;
		border-radius: 3px;
	}

	.panel-title {
		margin: 10px;
		margin-top: 5px;
	}

	.course-row {
		padding: 5px 10px;
		display: flex;
		position: relative;

		border-bottom: 1px solid $render_divider;

		input[type="text"] {
			width: 100%;
		}
	}

	.course-row:first-child {
		margin-top: 5px;
	}

	.course-row:last-child {
		margin-bottom: 5px;
	}

	.course-row:nth-child(odd) {
		background-color: $render_background;
	}

	button.full {
		margin: 10px;
		flex: 1 1 auto;
	}

	span {
		margin-left: 10px;
		margin-bottom: 5px;
	}

	.employee-row {
		// border: 1px solid black;
		border-bottom: 0;
		// padding: 2px 5px;
		margin: 3px 5px;
		display: flex;

		.header {
			border-bottom: 1px solid $render_divider;
			padding: 2px 5px 2px 5px;
			margin: 0;
			border-radius: 3px 3px 0 0;
		}

		.header:hover {
			background-color: $render_background;
		}

	}

	.collapsible {
		transition: all 0.2s ease-in-out;
		min-height: 0;
		overflow: hidden;
		max-height: 100%;
		border-bottom: 1px solid $render_divider;
	}

	.hidden {
		display: none;
	}

	.collapsed:not(.header) {
		max-height: 0px;
		border-bottom: 0;
	}

	.new-user-form {
		display: flex;

		input[type="text"] {
			flex: 1 1 auto;
			margin: 5px;
			min-width: 0;
		}
	}
}

.panel:first-child {
	border-right: 2px solid black;
}

.admin-changeover {
	width: 100%;
	display: flex;
}

.course-delete {
	height: 1.7em;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
	min-width: fit-content;
}

.course-delete:not(.prompt) {
	align-self: center;
}

.course-delete.hidden {
	padding: 0;
	width: 0;
	min-width: 0;
	display: block;
}

.add-menu-container {
	position: relative;
}

.add-menu {
	top: -40px;
	padding-top: 40px;

	position: absolute;
	background-color: $light;
	border: 1px solid $render_divider;
	border-radius: 5px;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;

	overflow: hidden;

	input[type="text"] {
		margin: 5px;
	}

	transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0s;
}

.add-menu.hidden {
	border: 0;
	opacity: 0;
	padding-top: 0px;
	display: flex;

	height: 40px;

	transition: all 0.2s ease-in-out, opacity 0.2s ease-in-out 0.2s;
}

.header-end {
	padding: 0 5px;
	border-bottom: 1px solid $render_divider;
}