@use "sass:color";

$green : #79ca42;
$blue : #33ACE3;
$accent : #800000;
$render_background : #d3dbdc;
$render_divider : #85929C;
$light : white;
$google_bg: white;

.App {
	display: flex;
	flex-direction: column;

	height: 100vh;
	width: 100vw;
}

.app-body {
	flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    height: 0;
}

.slim {
	padding: 0;
	margin: 0;
	padding: 0;
}

.vstack.main {
	flex-grow: 1;
	border-left: 2px solid;
	border-right: 2px solid;

	padding-left: 5px;
	padding-right: 15px;
}

.hr-container {
	padding-left: 10px;
	padding-right: 10px;
}

.scrollable::-webkit-scrollbar {
	display: none;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	flex: 1;

	// Hide the scrollbar
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.vstack {
	display: flex;	
    flex-direction: column;

	min-width: 20px;


	.header {
		margin: 0;
		border: 0;
		padding: 0;
		padding-left: 5px;
		padding-right: 5px;

		border-bottom: 2px solid;
		margin-bottom: 5px;
	}

	.hstack.filter {
		border: 2px solid;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		padding: 0;

		background-color: $accent;
	}

	.filter.element {
		color: $light;
		line-height: 20px;
	}

	.filter.element {
		background-color: $accent;
	}
	
	.filter.element.center:hover {
		background-color: darken($accent, 6%);
		cursor: pointer;
	}

	.filter.element.center {
		border-left: 1px solid $light;
		border-right: 1px solid $light;
		transition: all .1s ease-in-out;
	}
	
	.filter.element.static {
		padding-right: 5px;
		border-right: 1px solid $light;
	}

	.hstack {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	
		padding-top: 5px;
	
		.element {
			padding-left: 5px;
		}

		.left {
			flex: 0 0 auto;
		}
		
		.label {
			flex: 0 1 auto;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			padding-right: 5px;
		}

		.center {
			flex: 1 1 auto;
			text-align: center;
		}
		
	}
}

.right {
	flex: 1 0 auto;
	text-align: right;
	padding-right: 10px;
}


.top-border {
	border-top: 2px solid;
}

.green {
	background-color: $green;
}

.green:hover {
	background-color: darken($green, 8%);
	cursor: pointer;
}

.blue {
	background-color: $blue;
}

.blue:hover {
	background-color: darken($blue, 8%);
	cursor: pointer;
}


.button {
	border: 1px solid black;
	margin: 5px;

	height: 40px;
	padding: 10px;

	font-weight: bold;
	font-size: 16px;

	transition: all .1s ease-in-out;
}

$day_divider_size : 1.5px;
.render-container {
	flex: 1 1 auto;
	display: flex;
	position: relative;

	.day-label {
		text-align: center;
		color: $render_divider;
		margin: 5px 0px;
	}
	
	.render-times {
		color: $render_divider;

		display: flex;
		flex-direction: column;

		flex: 1 0 auto;

		margin-right: 3px;

		.rt-time {
			flex: 1 1 auto;
		}
	}
	
	.render-content {
		flex: 1 1 auto;
		display: flex;

		border: 2px solid black;
		
		width: 100%;
		height: 100%;

		.day {
			background-color: $render_background;
			border-right: $day_divider_size solid $render_divider;
		}
	}	

	.vstack {
		flex: 1 1 auto;
		display: flex;

		position: relative;
		width: 100%;

		div.divider {
			font-size: 0.8em;
			color: $render_divider;
			flex: 1 1 auto;
			border-style: dotted none none none;
			border-width: 1px;
			border-color: color.adjust($render_divider, $alpha: -0.6) $render_divider;
		}
	}
}

.block-container {
	position: absolute;
	width: 100%;

	.hstack {
		padding: 0;
		position: absolute;
	}

	.vstack {
		padding: 0;
	}

	$block_margin_amount : 2px;
	.block {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		background-color: red;
	
		margin: 0 $block_margin_amount;
		width: 3.3em;

		min-width: 0;
	
		border-radius: 3px;

		transition: all 0.2s ease-in-out;

		.block-indicator {
			flex: 1 1 auto;
			height: 100%;
			text-align: center;
		}

		.block-text {
			color: $light;
			overflow: hidden;
			padding-bottom: 5px;
		}
	}

	.block.selected {
		flex: 1000 0 auto;
	}

	.block.deselected {
		width: 6px;
		// flex: 1 1 6px;
		filter: brightness(50%);
	}
}

.fill {
	flex: 1 1 auto;
}

.grow-h {
	transition: all .2s ease-in-out;
}

.grow-h:hover {
	z-index: 2;
	border-radius: 5px;
	// border: $day_divider_size solid $render_divider;
	box-shadow: 0 0 10px 0;
	// transform: scaleX(1.01);

	cursor: pointer;
}

.navbar {
	border-bottom: 2px solid black;
	background-color: $accent;
	display: flex;

	.element {
		color: $light;
		line-height: 20px;
		margin: 5px 10px;
		font-size: 1.1em;
		align-self: baseline;
		cursor: default;

		transition: all 0.05s ease-in-out;
	}

	.major {
		font-size: 1.5em;
		margin-right: 13px;
		margin-bottom: 8px;
	}

	.element:hover {
		color: darken($light, 20%);
		cursor: pointer;
	}
}

.google {
	button {
		background-color: $google_bg;
		display: inline-flex;
		align-items: center;
		color: rgba(0, 0, 0, 0.54);
		padding: 0px;
		border-radius: 2px;
		border: 1px solid transparent;
		font-size: 15px;
		font-weight: 500;
		font-family: Roboto, sans-serif;
		opacity: 0.95;
		height: 100%;

		transition: all 0.1s ease-in-out;
	}
	
	.vstack {
		margin-right: 10px;
		padding: 0px 10px;
		border-radius: 2px;
	}

	span {
		padding-right: 10px;
		font-weight: 500;
	}	
}

.google button:hover {
	background-color: darken($google_bg, 10%);
	cursor: pointer;
}

.dot {
	aspect-ratio: 1 / 1;
	background-color: $accent;
	border-radius: 50%;
	border: 0.15em solid $render_background;
	display: inline-block;

	transition: all .2s ease-in-out;
}

.hat {
	height: 0;
	width: 100%;

	transition: all .2s ease-in-out;
}

.hat.selected {
	height: 0.2em;
	border-radius: 3px 3px 0 0;
	border-bottom: 2px solid black;
}

.hat.emphasized {
	height: 1em;
	border-radius: 3px 3px 0 0;
	border-bottom: 2px solid white;
}

.hat.selected {
	border-bottom: 2px solid black;
}


.dot.emphasized {
	transform: scale(1.3);
}

.dot.selected {
	transform: scale(1.3);
}

.dot.deemphasized {
	transform: scale(0.5);
}

.dot.deselected {
	border-color: black;
	transform: scale(0.3);
}

.dot.emphasized:hover {
	cursor: pointer;
}

.dot.selected:hover {
	cursor: pointer;
}

img {
	max-height: 20px;
}
